<section class="vh-100 bg-imge" >
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
          <div class="card" style="border-radius: 1rem;">
            <div class="row g-0">
              <div class="col-md-6 col-lg-5 d-none d-md-block bg-white shadow-lg">
                <img src="../../../assets/images/Maskan1.jpg"
                  alt="login form" class="w-100 h-100 rounded border"   />
              </div>
              <div class="col-md-9 col-lg-7 d-flex align-items-center">
                <div class="card-body p-4 p-lg-5 text-black">
  
                  <form [formGroup]="loginForm" (ngSubmit)="LogIn()">
  
                    <div class="d-flex align-items-center mb-3 pb-1">
                      <!-- <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i> -->
                      <img src="../../../assets/images/Maskan2.jpg" class="w-25 rounded-circle">
                      <span class="fa-2x m-auto ">{{" Welcome to Maskan"}}</span>
                    </div>
  
                    <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;"></h5>
                    <!-- <div class="form-outline mb-4">
                     
                      <label class="form-label" for="form2Example17" >Company Name</label>
                      <select class="form-control"  formControlName="tenantId">
                        <option class="form-control" [value]="null">{{"Select"}}</option>
                        <option class="form-control" [value]="tenant.id" *ngFor="let tenant of tenants">{{tenant.name}}</option>
                      </select>

                    </div> -->
                    <div class="form-outline mb-4">
                      <input type="email" id="form2Example17" formControlName="email" class="form-control form-control-lg" />
                      <label class="form-label" for="form2Example17" >Email address</label>
                    </div>
  
                    <div class="form-outline mb-4">
                      <input type="password" id="form2Example27" formControlName="password" class="form-control form-control-lg" />
                      <label class="form-label" for="form2Example27" >Password</label>
                    </div>
  
                    <div class="pt-1 mb-4">
                      <button class="btn btn-dark btn-lg btn-block" style="background-color: #3D2369 ;"  type="submit" [disabled]="!isValid()">Login</button>
                    </div>
  
                  </form>
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>