:host{
    .tenant-Name{
        color:white; 
        font-size: large;
        font-weight: 500;
       // text-decoration: none;
        border-color: #e7cf42 !important;
        background-color: #3D2369  !important;
        pointer-events: none;
        border-width: 4px;
       border-radius: 2px;
       background-color:transparent;
       padding: 2px 10px;
    }
   /* Container for the switch */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide the default checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  .notifiaionColor{
    color: #3D2369;
  }
  
  /* Slider styling */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
  }
  
  /* Circle inside the switch */
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 28px;
    border-radius: 50%;
    top: 2px;
    left: 1px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
  }
  
  /* When the checkbox is checked, move the circle and change the background color */
  input:checked + .slider {
    background-color: #4CAF50;
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }
  
}

